{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Cartera - CarteraPro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- Carga de archivos estáticos -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- Archivo CSS externo -->
    <link rel="stylesheet" href="{% static 'crearCartera.css' %}" />
    <!-- Archivo CSS específico para la página de crearCartera -->
  </head>

  <body class="newCartera-body">
    <!-- Encabezado de la página - Reutilizamos la estructura del landing -->
    {% include 'header.html' %}

    <!-- Contenedor del formulario de login -->
    <div class="newCartera-container">
      <div class="newCartera-box">
        <div class="newCartera-header">
          <h2>Nueva Cartera</h2>
        </div>
        <div class="newCartera-form">
          <form action="{% url 'crear_cartera' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <select id="tipo_tasa" name="tipo_tasa" required>
                <option value="" disabled selected>Tipo de tasa</option>
                <option value="TNA">TNA</option>
                <option value="TEA">TEA</option>
              </select>
            </div>
            <div class="form-group">
              <input
                type="text"
                id="tasa"
                name="tasa"
                placeholder="Tasa %"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                id="capitalizacion"
                name="capitalizacion"
                placeholder="Capitalización"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                id="nombre"
                name="nombre"
                placeholder="Nombre de la cartera"
                required
              />
            </div>
            <div class="form-group">
              <button type="submit" class="btn-registrarCartera">
                Registrar cartera
              </button>
            </div>
            {% if messages %}
            <div class="messages">
              {% for message in messages %}
              <p class="{{ message.tags }}">{{ message }}</p>
              {% endfor %}
            </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
    <!-- <script src="/crearCartera.js"></script> -->
  </body>
</html>
