<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Inicio de Sesion</title>
</head>
<body>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <h1>Iniciar sesion</h1>
    <form action="/login/" method="POST">
        {% csrf_token %} <!-- Gestiona el Token de seguridad -->
        {{ form.as_p }} <!-- Renderiza el formulario de inicio de sesion -->
        <button type="submit">Iniciar sesion</button>
</body>
</html>